.banner {
    position: relative;
    text-align: center;
    & &__image {
        position: relative;
        // &:before {
        //     content: '';
        //     display: block;
        //     padding-top: 100vh;
        // }
        > img {
            @include absolute-image;
        }
    }
    .location {
        position: absolute;
        display: inline-block;
        &.l-01 {
            bottom: 35%;
            left: 54%;
        }
        &.l-02 {
            bottom: 37%;
            left: 68.5%;
        }
        &.l-03 {
            bottom: 30%;
            left: 80%;
        }
        &.l-04 {
            bottom: 45%;
            right: 13%;
        }
        &.l-05 {
            bottom: 43%;
            left: 3%;
        }
        &.l-06 {
            bottom: 30%;
            left: 25%;
        }
        &.l-07 {
            bottom: 41%;
            left: 38%;
        }
        &.l-08 {
            bottom: 36%;
            left: 63%;
        }
        &.l-09 {
            bottom: 45%;
            left: 89%;
        }
        &.l-10 {
            bottom: 47%;
            left: 11%;
        }
        &.l-11 {
            bottom: 28%;
            left: 24%;
        }
        &.l-12 {
            bottom: 37%;
            left: 52%;
        }
        &.l-13 {
            bottom: 49%;
            left: 81%;
        } 
    }
    & &__text {
        color: $color-01;
        padding: 3.2rem 5.6rem;
        border: 2px solid $color-03;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        &:before {
            content: '';
            @include absolute-all;
            background-color: rgba($color-02, .4);
            z-index: -1;
            @include transform(translate(-1rem, -1rem));
            @include transition(all .3s ease);
        }
        &:hover {
            &:before {
                @include transform(translate(0, 0));
                background-color: rgba($color-02, .5);
            }
        }
    }
    &__text &__title {
        font: {
            size: 5.2rem;
            family: 'Futura Std ExtraBold';
        }
        text-transform: uppercase;
        white-space: nowrap;
        @include for-size(1199) {
            font-size: 4.2rem;
        }
        @include for-size(767) {
            font-size: 3.2rem;
        }
        @include for-size(575) {
            font-size: 2.5rem;
        }
    }
    &__text &__description {
        font-size: 2.4rem;
        line-height: 1;
        margin-top: 1.2rem;
        font-family: 'Futura Std Book';
        @include for-size(1199) {
            font-size: 2.2rem;
        }
        @include for-size(767) {
            font-size: 1.8rem;
        }
        @include for-size(575) {
            font-size: 1.6rem;
        }
    }
    &__bg {
        width: 100%;
        min-width: 768px;
    }
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    @include transform(translateX(-50%));
    & &__image {
        display: inline-block;
        img {
            max-width: 27rem;
            height: auto;
            @include for-size(1199) {
                max-width: 20rem;
            }
            @include for-size(575) {
                max-width: 13rem;
            }
        }
    }
}

.location{
    img {
        @include for-size(991) {
            max-width: 65%;
        }
        @include for-size(767) {
            max-width: 50%;
        }
        
    }
    @include for-size(575) {
        display: none !important;
    }
}