.button {
    &#{&}--share {
        display: flex;
        align-items: center;
        position: absolute;
        top: 3rem;
        left: 3rem;
        padding: .9rem 4rem;
        border-radius: 2rem;
        line-height: 1;
        background-color: $color-01;
        @include transition(all .3s ease);
        @include for-size(767) {
            padding: .9rem 2rem;
        }
        .icon {
            font-size: 2.2rem;
            color: $color-06;
            @include transition(all .3s ease);
        }
        span {
            font-size: 1.8rem;
            color: $color-05;
            text-transform: uppercase;
            padding-left: 1rem;
            @include transition(all .3s ease);
        }
        &:hover {
            background-color: $color-05;
            .icon, span {
                color: $color-01;
            }
        }
    }
    &--menu {
        position: absolute;
        right: 3rem;
        top: 3rem;
        background-color: $color-01;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: none;
        text-align: center;
        @include transition(all .3s ease);
        @include for-size(767) {
            width: 5rem;
            height: 5rem;
            top: 1.5rem;
            right: 1.5rem;
        }
        .icon {
            color: $color-06;
            line-height: 6rem;
            font-size: 2.2rem;
            @include for-size(767) {
                line-height: 5rem;
            }
        }
        &:hover {
            background-color: $color-05;
            .icon {
                color: $color-01;
            }
        }
    }
}